.footer {
  
    color: #003366;
    text-align: center;
    font-family: 'Amiri', serif;
    padding: 1rem 0;
    font-size: 1rem;
    direction: rtl; 
    position: relative;
    bottom: 0;
    width: 100%;
    
  }
  